.block1{
    position: absolute;
width: 360px;
height: 360px;
left: 0px;
top: 900px;

background: #FFE2DE;
}
.block1 p{
    position: absolute;
width: 232px;
height: 54px;
left: 78px;
top: 50px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;
}
.Toch1{
    position: absolute;
width: 9px;
height: 9px;
left: 54px;
top: 90.25px;

background: #E9B730;
}
.block2{
    position: absolute;
width: 360px;
height: 360px;
left: 360px;
top: 900px;

background: #C4E769;
}
.Toch2{
    position: absolute;
width: 9px;
height: 9px;
left: 54px;
top: 90.25px;

background: #E9B730;
}
.block2 p {
    position: absolute;
width: 230px;
height: 54px;
left: 78px;
top: 50px;

font-family: 'Larsseit';
font-size: 32px;
line-height: 34px;
letter-spacing: -0.006em;

color: #FFFFFF;
}
.block3{
    position: absolute;
    width: 360px;
    height: 360px;
    left: 720px;
    top: 900px;
    
    background: #62D0DF;
}
.block3 p{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 78px;
    top: 50px;
    
    font-family: 'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    
    color: #FFF
}
.Toch3{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 54px;
    top: 90.25px;
    
    background: #E9B730;
}
.block4{
    position: absolute;
width: 260px;
height: 360px;
left: 1078px;
top: 900px;

background: #0052C1;
}
.Toch4{
    position: absolute;
    width: 9px;
    height: 9px;
    left: 14px;
    top: 90.25px;
    
    background: #E9B730;
}
.block4 p{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 28px;
    top: 50px;
    
    font-family: 'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    
    color: #FFF
}
.TextP{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 28px;
    top: 50px;
    
    font-family: 'Larsseit';
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
    
    color: #FFF
}